.DS_Store
Analysis_Files/.DS_Store
Analysis_Files/Traces_Output/.DS_Store
Analysis_Files/Traces_Output/SNF2h51nMATP1mM/.DS_Store
Analysis_Files/pyhsmm_Input/.DS_Store
Analysis_Files/pyhsmm_Output/.DS_Store
Analysis_Files/pyhsmm_Output/SNF2h51nMATP1mM_analyzed/.DS_Store
Beads_1/.DS_Store
Beads_2/.DS_Store
Beads_3/.DS_Store
Beads_4/.DS_Store
Beads_5/.DS_Store
SNF2h51nMATP1mM_1/.DS_Store
